.cache/
.vscode/
.DS_Store

build/
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.out

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
build.ninja
rules.ninja

src/proto/generated/protocol.pb.*
*.pb.cc
*.pb.h

obcaivenv/
*.html
*.pyc
